<div class="container">
  <h2 class="text-center text-secondary mt-5">captionに<%= @q %>を含む投稿一覧</h2>
  <% if @posts.exists? %>
  <div class="row pt-3">
    <% @posts.each do |post| %>
    <div class="card-group pl-3">
      <div class="card">
        <div class="card-img">
          <%= link_to post_path(post.id) do %>
            <%= image_tag post.medias[0], size: '160x120' %>
          <% end %>
        </div>
        <div class="card-body">
          <%= link_to user_path(post.user_id) do %>
            <%= image_tag post.user.get_profile_image, size: '30x30' %>
            <%= post.user.name %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% else %>
    <p class="font-weight-bold text-center pt-3">captionに<%= @q %>を含む投稿はありません。</p>
  <% end %>
  <h2 class="text-center text-secondary mt-5"><%= @q %>を含む名前のユーザー一覧</h2>
  <% if @users.exists? %>
  <%= render 'public/users/index', users: @users %>
  <% else %>
  <p class="font-weight-bold text-center pt-3"><%= @q %>を含む名前のユーザーはいません。</p>
  <% end %>
  </div>

