<h2>posts/show</h2>
<div>
  <!--<#%= image_tag @post.get.medias %>-->
  <% @post.medias.each do |media| %>
    <%= image_tag media, size: '140x100' %>
  <% end %>
  <p>
    <% caption_and_tags_in_array(@post.caption).each do |word| %>
      <%= word %>
    <% end %>
  </p>
  <p>ユーザー名:<%= @post.user.name %></p>
  <% if @post.user == current_user %>
    <%= link_to "編集する", edit_post_path(@post) %>
    <%= link_to "削除する", post_path(@post), method: :delete, data: {confirm: "投稿を削除します。よろしいですか？"} %>
  <% end %>
</div>
<div>
  <p>コメント件数：<%= @post.comments.count %></p>
  <% @post.comments.each do |comment| %>
    <p><%= image_tag comment.user.get_profile_image, size: "50x50" %></p>
    <%= comment.created_at.strftime('%Y/%m/%d') %>
    <%= comment.comment %>
    <% if comment.user == current_user %>
      <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<div class=<%= "favorite-" + @post.id.to_s %>>
  <%= render "public/favorites/btn", post: @post %>
</div>
<div class="book">
  <%= form_with model: [@post, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>