<h2>posts/show</h2>
<div>
  <!--<#%= image_tag @post.get.medias %>-->
  <% @post.medias.each do |media| %>
    <%= image_tag media, size: '140x100' %>
  <% end %>
  <p>
    <% caption_and_tags_in_array(@post.caption).each do |word| %>
      <%= word %>
    <% end %>
  </p>
  <p>ユーザー名:<%= @post.user.name %></p>
  <% if @post.user == current_user %>
    <%= link_to "編集する", edit_post_path(@post) %>
    <%= link_to "削除する", post_path(@post), method: :delete, data: {confirm: "投稿を削除します。よろしいですか？"} %>
  <% end %>
</div>
<div class=<%= "favorite-" + @post.id.to_s %>>
  <%= render "public/favorites/btn", post: @post %>
</div>
  <p>コメント件数：<%= @post.comments.count %></p>


  <div class="comments-index">
    <%= render "public/comments/index", post: @post, comment: @cooment %>
  </div>

  <%= render "public/comments/form", post: @post, comment: @comment %>

