<% post.comments.each do |comment| %>
  <div>
    <p class="border-bottom">
      <%= comment.created_at.strftime('%Y/%m/%d') %>&emsp;
      <%= comment.comment %>&emsp;
      <%= link_to user_path(comment.user_id) do %>
        <%= image_tag comment.user.get_profile_image, size: "30x30" %>
      <% end %>
      <% if comment.user == current_user %>
        <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, remote: true %>
      <% end %>
    </p>
  </div>
<% end %>