<% if users.exists? %>
  <table class='table'>
    <thead>
      <tr>
        <th colspan="5"></th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr>
          <td><%= image_tag user.get_profile_image, size: '50x50' %></td>
          <td><%= user.name %></td>
          <td id= "relationship-<%= user.id %>">
            <%= render "public/relationships/btn", user: user, page_name: "mypage" %>
          </td>
          <td><%= link_to 'Show', user, class: "user_#{user.id}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>ユーザーはいません</p>
<% end %>