<% if users.exists? %>
  <table class='table'>
    <thead>
      <tr>
        <th colspan="5"></th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr>
          <td>
            <%= link_to user_path(user.id) do %>
              <%= image_tag user.get_profile_image, size: '50x50' %>
            <% end %>
          </td>
          <td>
            <%= link_to user_path(user.id) do %>
              <%= user.name %>
            <% end %>
          </td>
          <td id= "relationship-<3%= user.id %>">
            <%= render "public/relationships/btn", user: user, page_name: "mypage" %>
          </td>
          <td><%= link_to 'Show', user, class: "user_#{user.id}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>ユーザーはいません</p>
<% end %>