<div class="container">
  <div class="row pt-5">
    <p class="font-weight-bold text-secondary"><%= ("#{@another_entry.user.name}さんとのメッセージ") %></p>
  </div>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <% @messages.each do |message| %>
        <% if message.user_id == current_user.id %>
          <div class="mycomment pl-5">
            <p>
              <%= image_tag message.user.get_profile_image, size: '30x30' %>
              (<%= message.user.name %>)
              <%= message.body %>
            </p>
          </div>
        <% else %>
          <div class="fukidasi text-right pr-5">
            <div class="faceicon">
              <%= message.body %>
              <%= image_tag message.user.get_profile_image, size: '30x30' %>
              (<%= message.user.name %>)
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="row pt-3">
        <div class="col-sm-7 offset-sm-1">
          <div class="chat-form-box">
            <%= form_with model: @message do |f| %>
              <div class="chat-form-group">
                <%= f.text_field :body, class: 'form-control' %>
                <%= f.hidden_field :room_id, value: @room.id %>
              </div>
              </div>
              </div>
              <div class="col-sm-4">
                <%= f.submit "送信", class: 'btn btn-outline-success' %>
              </div>
            <% end %>
      </div>
    </div>
  </div>
</div>