<div class="container">
  <div class="row pt-5">
    <p class="font-weight-bold text-secondary"><%= ("#{@another_entry.user.name}さんとのメッセージ") %></p>
  </div>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="border bg-info">
        <% @messages.each do |message| %>
          <% if message.user_id == current_user.id %>
            <div class="mycomment">
              <p>
                <%= link_to user_path(message.user_id) do %>
                  <%= image_tag message.user.get_profile_image, size: '30x30' %>
                <% end %>
                <%= message.body %>
              </p>
            </div>
          <% else %>
            <div class="fukidasi text-right">
              <div class="faceicon">
                <%= message.body %>
                <%= link_to user_path(message.user_id) do %>
                  <%= image_tag message.user.get_profile_image, size: '30x30' %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      </div>
      </div>
      <%= form_with model: @message do |f| %>
      <div class="row pt-3">
        <div class="col-sm-5 offset-sm-3">
          <%= f.text_field :body, class: 'form-control', placeholder: "メッセージをここに" %>
          <%= f.hidden_field :room_id, value: @room.id %>
        </div>
        <div class="col-sm-4">
          <%= f.submit "送信", class: 'btn btn-outline-success' %>
        </div>
      <% end %>
        </div>
</div>