<div class="container">
  <div class="text-danger font-weight-bold pt-3"><%= flash[:alert] %></div>
  <div class="row">
    <div class="col-md-12">
      <div class="img text-center">
        <%= image_tag "ウチ勝top.png", size: '1000x400', class: 'img-fluid' %>
      </div>
      <div class="row text-center pt-3">
        <div class="col-4">
          <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-success' %>
        </div>
        <div class="col-4">
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary" %>
        </div>
        <div class="col-4">
          <%= link_to "ゲストログイン", users_guest_sign_in_path, class: 'btn btn-secondary', method: :post %>
        </div>
      </div>
    </div>
  </div>
</div>




