<div class="container">
  <div class="row pt-5">
    <div class="col-sm-5">
      <h2 class="font-weight-bold">投稿詳細</h2>
      <p class="font-weight-bold pt-5">投稿画像</p>
      <% @post.medias.each do |media| %>
        <%= image_tag media, size: '140x100' %>
      <% end %>
      <p class="pt-5"><%= @post.created_at.to_s(:datetime_jp) %></p>
      <div>
        <p class="font-weight-bold">caption</p>
        <div>
          <% caption_and_tags_in_array(@post.caption).each do |word| %>
            <%= word %>
          <% end %>
        </div>
      </div>
      <p class="font-weight-bold">投稿ユーザー</p>
      <div>
        <%= link_to admin_user_path(@post.user_id) do %>
          <%= image_tag @post.user.get_profile_image, size: '30x30' %><%= @post.user.name %>
        <% end %>
        </div>
    </div>
    <div class="col-sm-7 py-5">
      <p class="font-weight-bold pt-5">コメント</p>
      <% @post.comments.each do |comment| %>
      <div>
        <%= comment.created_at.strftime('%Y/%m/%d') %>&emsp;
        <%= comment.comment %>&emsp;
        <%= link_to admin_user_path(comment.user_id) do %>
          <%= image_tag comment.user.get_profile_image, size: "50x50" %>
          <%= comment.user.name %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>

