<div class="container">
  <div class="row pt-5">
    <table class="table col-md-12">
      <thead>
        <tr>
          <th>UserID</th>
          <th>Image</th>
          <th>Name</th>
          <th>プライバシーステータス</th>
          <th>ステータス<th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td>
            <%= link_to admin_user_path(user.id), class: 'nav-link' do %>
              <%= image_tag user.get_profile_image, size: '30x30' %>
            <% end %>
          </td>
          <td>
            <%= link_to admin_user_path(user.id), class: 'nav-link' do %>
              <%= user.name %>
            <% end %>
          </td>
          <td>
            <% if user.is_active? %>
              <p class="font-weight-bold text-success">公開</p>
            <% else %>
              <p class="font-weight-bold text-secondary">非公開</p>
            <% end %>
          </td>
          <td>
            <% if user.is_deleted? %>
              <p class="font-weight-bold text-danger">無効</p>
            <% else %>
              <p class="font-weight-bold text-success">有効</p>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

