<table class='table'>
  <tr><%= image_tag user.get_profile_image, size: '100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>profile</th>
	  <th><%= user.profile %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th>
      <%= link_to user.followings.count, user_followings_path(user), id: "followings-count-#{user.id}" %>
    </th>
  </tr>
  <tr>
    <th>followers</th>
    <th>
      <%= link_to user.followers.count, user_followers_path(user), id: "followers-count-#{user.id}" %>
    </th>
  </tr>
  <% if current_user != user %>
    <tr></tr>
    <% else %>
    <tr>
      <th>ステータス</th>
      <th>
        <% if user.is_active? %>
          <span class="text-success">公開</span>
        <% else %>
          <span class="text-danger">非公開</span>
        <% end %>
      </th>
    </tr>
  <% end %>
</table>

<div class='row'>
  <% if current_user != user %>
    <div id="relationship-<%= @user.id %>">
      <%= render "public/relationships/btn", user: user, page_name: page_name %>
    </div>
  <% else %>
    <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block edit_user_#{user.id}" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  <% end %>
</div>