<!DOCTYPE html>
<html>
  <head>
    <title>ウチの子しか勝たん</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="navbar navbar-expand-lg navbar-dark bg-info">
        <div><%= link_to "ウチの子しか勝たん", root_path, class: 'navbar-brand text-light' %></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <% if admin_signed_in? %>
          <ul class="nav navbar-nav">
            <li><%= link_to "HOME", admin_users_path, class: 'nav-item nav-link text-light' %></li>
            <li><%= link_to "投稿一覧", admin_posts_path, class: 'nav-item nav-link text-light' %></li>
            <li><%= link_to "User一覧", admin_users_path, class: 'nav-item nav-link text-light' %></li>
            <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete , class: 'nav-item nav-link text-light' %></li>
          <% elsif user_signed_in? %>
            <li><%= link_to "HOME", mypage_path, class: 'nav-item nav-link text-light' %></li>
            <li><%= link_to "新規投稿", new_post_path, class: 'nav-item nav-link text-light' %></li>
            <li><%= link_to "投稿一覧", posts_path, class: 'nav-item nav-link text-light' %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-item nav-link text-light' %></li>
            <li>
              <%= form_with url: search_posts_path, local: true, method: :get do |f| %>
                <%= f.search_field :q %>
                <%= f.submit "検索" %>
              <% end %>
            </li>
          <% else %>
            <li><%= link_to "HOME", root_path, class: 'nav-item nav-link text-light' %></li>
            <li><%= link_to "新規登録", new_user_registration_path, class: 'nav-item nav-link text-light' %></li>
            <li><%= link_to "Adminログイン", new_admin_session_path, class: 'nav-item nav-link text-light' %></li>
            <li><%= link_to "ログイン", new_user_session_path, class: 'nav-item nav-link text-light' %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </header>
    <%= yield %>
    
    <footer class="bg-info pt-3 fixed-bottom">
      <div></div>
    </footer>
  </body>
</html>
